aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.1
aiosignal==1.4.0
appdirs==1.4.4
attrs==25.4.0
certifi==2025.8.3
charset-normalizer==3.4.3
frozenlist==1.8.0
idna==3.10
lxml==6.0.2
multidict==6.6.4
propcache==0.4.1
PySide6==6.9.2
PySide6_Addons==6.9.2
PySide6_Essentials==6.9.2
requests==2.32.5
scrapetube==2.6.0
shiboken6==6.9.2
typing_extensions==4.15.0
urllib3==2.5.0
webvtt-py==0.5.1
yarl==1.22.0
youtube_transcript_api==1.2.3
yt-dlp==2025.9.23
